{% extends 'final4/base.html' %}

            {% block text %}
                <p> 상품 리스트를 보고 있습니다. </p>
            {% endblock %}

    {% block main_content %}

        <h1>Product List</h1>

        {% if product_list.exists %}

              <!--상품이 있는 경우 -->
            {% for p in product_list %}
              <div>
                <div class="media border border-primary d-inline-block-flex p-2">
                  <img src="https://picsum.photos/seed/1/100/100" class="align-self-center mr-3" alt="random image">
                  <div class="media-body">
                    <h4 class="mt-0">{{p.name}}</h4>
                    <p class="mb-1">{{p.description}}</p>
                    <span class="mb-1">개당 {{p.price}}원</span>

                      {% if user.is_authenticated %}
                        <!-- 아래 버튼은 로그인 되어 있는 상태에만 보임 -->
                        <a class="btn btn-outline-primary btn-sm" href="/final4/product/{{p.pk}}"><small>구매하기</small></a>
                      {% endif %}
                  </div>
                </div>
              </div>
            {% endfor %}

        {% else %}
            <!-- 상품이 없는 경우 -->
            <h3>아직 등록된 상품이 없습니다.</h3>
        {% endif %}

            <!--페이지네이션-->
            {% if is_paginated %}

                <!-- paginator, page_obj: 페이지네이션 ListView의 라이브러리 -->
                <!-- page_obj.number / page_obj.previous_page_number | page_obj.next_page_number -->
                <!-- paginator.page_range -->

                <!-- Pagination-->
                <nav aria-label="Pagination">
                    <hr class="my-0" />
                    <ul class="pagination justify-content-center my-4">

                        <!-- 이전 페이지 여부 -->
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{page_obj.previous_page_number}}">&larr; Newer</a>
                            </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-disabled="true">&larr; Newer</a>
                        </li>
                        {% endif %}

                        <!--Page Number-->
                        <!-- ?page={{페이지번호}}로 페이지 쿼리 이동 가능 -->
                        {% for i in paginator.page_range %}
                            {% if i == page_obj.number %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">{{i}}</a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{i}}">{{i}}</a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        <!-- 다음 페이지 여부 -->
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{page_obj.next_page_number}}">Older &rarr;</a>
                            </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-disabled="true">Older &rarr;</a>
                        </li>
                        {% endif %}


                    </ul>
                </nav>
            {% endif %}

    {% endblock %}