<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'midterm/css/midterm.min.css' %}"  media="screen">

    <title>name_card</title>
</head>
<body>
        <div class="container my-3">
            <div class="row">
                <div class="col-md-4 col-lg-3">
                    <a class="btn btn-outline-primary btn-block" href="/midterm" role="button">Midterm Home</a>
                    <a class="btn btn-outline-info btn-block" href="/midterm/list" role="button">Staff List</a>
                </div>
                <div class="col-md-8 col-lg-9">
                    <h3>NAMECARD(Option 1)</h3>
                          {% if staff.Rank == "CEO" %}
                          <div class="media bg-info text-white d-inline-flex p-2">
                            <div class="media-body">
                              <h5 class="mt-0">{{staff.name}} [{{staff.Rank}}]</h5>
                              <p>우리나라 연구소</p>
                              <p class="mb-0 ml-5">Tel: 010-000-0000</p>
                              <p class="mb-0 ml-5">Email: sample@sample.com</p>
                            </div>
                          </div>
                          {% elif staff.Rank == "manager" %}
                          <div class="media bg-warning text-white d-inline-flex p-2">
                            <div class="media-body">
                              <h5 class="mt-0">{{staff.name}} [{{staff.Rank}}]</h5>
                              <p>우리나라 연구소</p>
                              <p class="mb-0 ml-5">Tel: 010-000-0000</p>
                              <p class="mb-0 ml-5">Email: sample@sample.com</p>
                            </div>
                          </div>
                        {% elif staff.Rank == "staff" %}
                         <div class="media bg-secondary text-white d-inline-flex p-2">
                            <div class="media-body">
                              <h5 class="mt-0">{{staff.name}} [{{staff.Rank}}]</h5>
                              <p>우리나라 연구소</p>
                              <p class="mb-0 ml-5">Tel: 010-000-0000</p>
                              <p class="mb-0 ml-5">Email: sample@sample.com</p>
                            </div>
                          </div>
                        {% endif %}

                </div>
            </div>
        </div>
</body>
</html>